@import "../../../../../App.scss";
@import "../../../../../index.scss";

.education {
    position: relative;

    &__box {
        ul {
            li:not(:first-child) {
                margin-top: -92px;
            }
        }
        position: relative;
    }
}
.btn__more {
    cursor: pointer;
    @include font-size(22);
    color: #19762d;
}
