@import "../../../../index.scss";
@import "../../../../App.scss";

.title {
    margin-top: 68px;
    text-align: center;
    @include font-size(32);
    color: $dark;
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        @include custom__sp {
            flex-direction: column;
        }
        i {
            color: #1abc9c;
            padding: 13px;
            @extend .box__shadow;
        }
        img {
            max-width: 72px;
            padding: 13px;
            @extend .box__shadow;
        }
        span {
            font-weight: bolder;
            margin-left: 10px;
            text-transform: uppercase;
        }
    }
}
