@import '../../../../App.scss';
@import '../../../../index.scss';

.pricing {
    font-family: 'mulish';
    &__wrap {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @include md {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        width: 100%;
        max-width: 303px;
        transition: transform 0.5s !important;

        &:hover {
            -webkit-transform: scale(1.03) !important;
            transform: scale(1.03) !important;
            box-shadow: 0 20px 30px 0 rgb(0 0 0 / 16%), 0 10px 15px 0 rgb(0 0 0 / 12%);
        }
        @extend .box__shadow;

        @include md {
            max-width: unset;
        }

        .item__top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            height: 210px;
            background-color: var(--main-color);

            .price {
                position: relative;

                .price__text {
                    span:first-child {
                        position: absolute;
                        top: 5px;
                        font-size: 30px;
                    }

                    span:nth-child(2) {
                        font-size: 54px;
                        margin-left: 20px;
                    }

                    span:last-child {
                        font-size: 20px;
                    }
                }
            }

            .level {
                background-color: unset;
                text-transform: uppercase;
                @include font-size(14);
                display: inline-block;
                border: 1px solid white;
                padding: 5px 10px;
                margin-top: 40px;
            }
        }

        .item__bottom {
            background-color: #fff;
            color: $dark;
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .item__benefit {
            text-align: center;
            margin: 22px auto;

            div:not(:first-child) {
                margin-top: 15px;
            }
        }

        .item__button {
            display: flex;
            justify-content: center;
            width: 100%;
            border-top: 1px solid #ccc;
            button {
                margin: 22px 0;
            }
        }
    }

    .item__button {
        button {
            text-transform: uppercase;
            padding: 10px 13px;
            background-color: var(--main-color);
            color: white;
            border-radius: 2px;
            border: none;
            @include font-size(14);
        }
    }
}
