@import "../../../../App.scss";
@import "../../../../index.scss";
.interest__wrap {
    background-color: #fff;
    margin-top: 35px;
    @extend .box__shadow;
}
.wrap__content {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 145px;
    padding: 45px;
    font-size: 15px;
    color: $dark;
    text-align: center;
    line-height: 22px;
}
.enjoy {
    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;

        @include desktop__big {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include custom__sp {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        i {
            font-size: 35.2px;
        }
    }
}
