@import "../../../../App.scss";

.education {
    &-wrap {
        position: relative;
    }
    &-flip {
        margin-top: -55px;
        transform: scale(-1);
        span,
        i {
            transform: scale(-1);
        }
        .education-box {
            &__wrap {
                border-left: none;
                border-right: 5px solid $green;
            }
            &__content {
                transform: scale(-1);
            }
        }
        .edu {
            &-line {
                top: 200px;
                z-index: -1;
            }
            &-key {
                top: 177px;
            }
        }
    }
    &-box {
        ul {
            li:not(:first-child) {
                margin-top: -92px;
            }
            list-style-type: none;
        }
        position: relative;
        margin-top: 30px;
        padding: 0 5px;
    }
    &-tree {
        position: absolute;
        top: 55px;
        left: 500px;
        width: 5px;
        background-color: $green;
        &__exp {
            height: 385px;
        }
        &__edu {
            height: 670px;
        }
    }
}
.btn-more {
    cursor: pointer;
    font-size: 22px;
    color: #19762d;
}
