@import "../../../../App.scss";
@import "../../../../index.scss";

.folderTree {
    margin-top: 30px;
    &__item {
        list-style-type: none;
        &:not(:first-child) {
            margin-top: -75px;
        }
    }
    &__flip {
        list-style-type: none;
        transform: scale(-1);
        span,
        i {
            transform: scale(-1);
        }
        .eduBox {
            &__wrap {
                border-left: none;
                border-right: 5px solid $green;
            }
            &__content {
                transform: scale(-1);
            }
        }
        .branch {
            &__line {
                top: 170px;
                z-index: -1;
            }
            &__key {
                top: 148px;
            }
        }
    }
    &__tree {
        position: absolute;
        top: 155px;
        left: 675px;
        width: 5px;
        background-color: $green;
        &--exp {
            height: 280px;
            top: unset;
            margin-top: 30px;
        }
        &--edu {
            height: 665px;
        }
    }
}
.education,
.experience {
    position: relative;
}
.btn__more {
    cursor: pointer;
    @include font-size(22);
    color: #19762d;
}
