@import "../../../../App.scss";
@import "../../../../index.scss";

.folderTree {
    margin-top: 30px;
    &__item {
        list-style-type: none;
    }
    &__item:not(:first-child) {
        margin-top: -90px;
    }
    &__flip {
        list-style-type: none;
        margin-top: -75px !important;
        transform: scale(-1);
        span,
        i {
            transform: scale(-1);
        }
        .eduBox {
            &__wrap {
                border-left: none;
                border-right: 5px solid $green;
            }
            &__content {
                transform: scale(-1);
            }
        }
        & .edu {
            &__line {
                top: 200px;
                z-index: -1;
            }
            &__key {
                top: 177px;
            }
        }
    }
    &__tree {
        position: absolute;
        top: 155px;
        left: 675px;
        width: 5px;
        background-color: $green;
        &--exp {
            height: 385px;
            top: unset;
            margin-top: 30px;
        }
        &--edu {
            height: 715px;
        }
    }
}
