@import "../../../../App.scss";
@import "../../../../index.scss";

.lightBox__btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .btn {
        border: none;
        outline: none;
        background-color: unset;
        margin-bottom: 20px;
        color: $words;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 15px;

        &.active {
            border-bottom: 5px solid var(--secondary-color);
        }

        &:hover {
            background-color: rgb(241, 238, 238);
            border-radius: 3px;
            color: $words;
        }
    }
}

.lightBox {
    .lightBox__visible {
        display: block;
    }

    .hidden {
        display: none;
    }

    .visible {
        height: 100%;
    }
    .lightBox__btn {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .btn {
            border: none;
            outline: none;
            background-color: unset;
            margin-bottom: 20px;
            color: $words;
            font-size: 15px;
            text-transform: uppercase;
            padding: 10px 15px;

            &.active {
                border-bottom: 5px solid var(--secondary-color);
            }

            &:hover {
                background-color: rgb(241, 238, 238);
                border-radius: 3px;
                color: $words;
            }
        }
    }

    .lightBox__visible {
        margin: 0 auto;
        margin-top: 5px;
        color: var(--secondary-color);
        font-size: 24px;
        padding: 13px 30px;
        border: none;
        outline: none;
        background-color: inherit;
        @extend .box__shadow;
        transition: all 0.3s ease-out 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

        &:hover {
            box-shadow: rgb(0 0 0 / 18%) 0px 5px 11px 0px, rgb(0 0 0 / 15%) 0px 4px 15px 0px;
        }
    }
}
